.header {
    background: transparent;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    z-index: 2;
}

.netflixlogo {
    height: 2rem;
}

.avatar {
    height: 2.5rem;
    border-radius: 10%;
}

.avatar:hover {
    cursor: pointer;
}
.list{
    display: block;
    text-align: left;
    width: 100%;
}


.list a {
    margin: 2rem;   
}

.icon {
    color: white;
}

.header svg {
    cursor: pointer;
    font-size: 1.2rem;
}

.header svg:hover {
    color: rgba(216, 216, 216);
}


/****** RESPONSIVE FOR TABLETS *****/
/*
@media screen and (max-width: 1024px) {

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon {
        visibility: hidden;
    }
}*/

/***** MOBILE PHONES *****/
/*
@media screen and (max-width: 600px) {
    

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}*/